.home {
  display: flex;
}

.body {
  background: url(../../assets/images/Background.png);
}

.heading {
  background: url(../../assets/images/Background.png);
  /* margin-bottom: 10px; */
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.heading-button {
  padding: 20px;
  display: flex;
  justify-content: center;
}


.video-btn {
  align-items: stretch;
  color: #376af5;
  background: #ffffff;
  border: 2px solid #376af5;
  border-radius: 8px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 20px 10px;
}

.trynow-btn {
  align-items: stretch;
  text-align: center;
  background: #376af5;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 8px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1.5px;
  padding: 20px 35px;
}
.video-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(28, 31, 200, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.trynow-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(28, 31, 200, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.trynow-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(28, 31, 200, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.landing {
  padding-top: 144px;
}
.text-header {
  font-size: 40px !important;
  line-height: 50px !important;
  height: 90px;
  row-gap: 10px;
  margin-bottom: 20px;
  color: #403f3f;
  font-weight: 700 !important;
  text-align: center !important;
  font-family: "Lato", sans-serif;
}

.subtext-header {
  font-size: 25px !important;
  line-height: 36px !important;
  margin-bottom: 20px;
  color: grey;
  font-weight: 500;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.homepage {
  margin-bottom: 3rem;
}
.homepage-content {
  display: flex;
  padding: 3rem;
}
.homepage-img {
  text-align: center;
  padding: 83px;
}

.proactive {
  padding-left: 3rem;
}
.content-title {
  font-size: 38px;
  color: #142a72;
  font-weight: 700;
  margin-bottom: 3rem;
}

.proactive-text {
  font-size: 32px !important;
  line-height: 46px !important;
  letter-spacing: 2px;
  color: #333333;
  font-weight: 550 !important;
  text-align: left !important;
  font-family: "Lato", sans-serif;
  margin-bottom: 1.5rem !important;
}
.color {
  color: #376af5;
}
.paragraph {
  font-size: 24px !important;
  line-height: 37px !important;
  color: #656565;
  font-weight: 550 !important;
  text-align: left !important;
  font-family: "Lato", sans-serif;
  margin-bottom: 3rem !important;
}
.arrow {
  color: #376af5;
  font-size: 20px !important;
  background: #ffffff;
  border: 2px solid #376af5;
  border-radius: 10px;
  font-style: normal;
  font-weight: 550;
  line-height: 19px;
  letter-spacing: 1.12px;
  padding: 10px 20px;
  vertical-align: middle;
}
.arrow:hover {
  box-shadow: 0 12px 16px 0 rgba(28, 31, 200, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.arrow span {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.proactive-img {
  max-width: 70vh;
  height: auto;
  vertical-align: middle;
  border-style: none;
  text-align: center !important;
}

.simplify {
  padding-left: 3rem;
  padding-right: 4rem;
}

.simplify-img {
  padding-top: 50px;
  max-width: 60vh;
  height: auto;
  vertical-align: middle;
  border-style: none;
  text-align: center !important;
}
.simplify-text {
  font-size: 32px !important;
  line-height: 46px !important;
  letter-spacing: 2px;
  color: #333333;
  font-weight: 550 !important;
  text-align: left !important;
  font-family: "Lato", sans-serif;
  margin-bottom: 1.5rem !important;
}

.saving {
  padding-left: 4rem;
  padding-right: 5rem;
}

.saving-img {
  padding-top: 50px;
  max-width: 60vh;
  height: auto;
  vertical-align: middle;
  border-style: none;
  text-align: center !important;
}
.saving-text {
  font-size: 32px !important;
  line-height: 46px !important;
  letter-spacing: 2px;
  color: #333333;
  font-weight: 550 !important;
  text-align: left !important;
  font-family: "Lato", sans-serif;
  margin-bottom: 1.5rem !important;
}

.customer-content {
  background: url(../../assets/images/Background.png);
  min-height: 72vh;
  padding: 72px;
}
.customer {
  text-align: center;
  padding-top: 3rem;
}
.customer-text {
  font-size: 40px !important;
  line-height: 54px !important;
  letter-spacing: 2px;
  color: #333333;
  font-family: 'Lato' !important;
  font-style: normal;
  font-weight: 550;
  letter-spacing: 0.02em;
  color:#142a72;
  margin-bottom: 1.5rem;
}
